<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo布丁动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1820CF0C1C06EB4B009139C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1820CF251C06EB4B009139C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1820CF301C06EB4B009139C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
